<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newcoder.community.dao.DiscussPostMapper">

    <sql id="BASE_COLUMN">
        id, user_id, title, content, `type`, status, create_time, comment_count, score
    </sql>

    <sql id="INSERT_COLUMN">
        user_id, title, content, `type`, status, create_time, comment_count, score
    </sql>

    <!--分页查询-->
    <select id="list" resultType="com.newcoder.community.domain.DiscussPost">
        SELECT
            <include refid="BASE_COLUMN"></include>
        FROM
            discuss_post
        <where>
            status != 2
            <if test="userId != null and userId != 0">
                and user_id = #{userId}
            </if>
        </where>
        ORDER BY `type` DESC, create_time DESC
    </select>

    <!--根据id查询DiscussPost-->
    <select id="get" resultType="com.newcoder.community.domain.DiscussPost">
        SELECT
            <include refid="BASE_COLUMN"></include>
        FROM
            discuss_post
        WHERE
            id = #{id}
    </select>

    <!--修改评论数量-->
    <update id="updateCommentCount">
        UPDATE
            discuss_post
        SET
            comment_count = #{count}
        WHERE
            id = #{id}
    </update>

    <!--发布新帖-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO discuss_post (<include refid="INSERT_COLUMN"></include>)
        VALUES (#{userId} , #{title} , #{content} , #{type} , #{status} , #{createTime} , #{commentCount} , #{score}  )
    </insert>

</mapper>